/*
# Date: December 13 2021
# FILE : style.css
# WRITER : Avraham Kfir, ID 318251519
# EXERCISE : Module 2 Coding Assignment
# DESCRIPTION: styles for our restaurant
*/


/******  Basic styles  ******/

* {
	box-sizing: border-box;
	font-family: 'Vujahday Script', cursive;
}

h1 {
	text-align: center;
	font-size: 1.75em;
}

p {
	text-align: center;
	margin: 0;
}

.title {
	float: right;
	width: 25%;
	height: 22%;
	font-size: 1.25em;
	border: 1px solid black;
	text-align: center
}

.lorem {
	width: 100%;
	height: 75%;
	padding: 20px 5px 0px 5px;
}

#chicken {
	background-color: #f5b9c2;
}

#beef {
	color: #ffffff;
	background-color: #aa1515;
}

#sushi {
	background-color: #EEDC82;
}


/****** Responsive Framwork ******/

.row {
	width: 100%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	margin: 12px 6px 12px 6px; 
	padding: 0px 0px 5px 5px;
	border: 1px solid black;
	background-color: #cbc7c5;
	position: relative;
	float: left;
} 

/*  Desktop devices only  */
@media (min-width: 992px) {

	.col-lg-1 {
		width: calc(8.33% - 12px);
	}
	.col-lg-2 {
		width: calc(16.66% - 12px);
	}
	.col-lg-3 {
		width: calc(25% - 12px);
	}
	.col-lg-4 {
		width: calc(33.33% - 12px);
	}
	.col-lg-5 {
		width: calc(41.66% - 12px);
	}
	.col-lg-6 {
		width: calc(50% - 12px);
	}
	.col-lg-7 {
		width: calc(58.33% - 12px);
	}
	.col-lg-8 {
		width: calc(66.66% - 12px);
	}
	.col-lg-9 {
		width: calc(75% - 12px);
	}
	.col-lg-10 {
		width: calc(88.33% - 12px);
	}
	.col-lg-11 {
		width: calc(91.66% - 12px);
	}
	.col-lg-12 {
		width: calc(100% - 12px);
	}
}

/*  Tablet devices only  */
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-1 {
		width: calc(8.33% - 12px);
	}
	.col-md-2 {
		width: calc(16.66% - 12px);
	}
	.col-md-3 {
		width: calc(25% - 12px);
	}
	.col-md-4 {
		width: calc(33.33% - 12px);
	}
	.col-md-5 {
		width: calc(41.66% - 12px);
	}
	.col-md-6 {
		width: calc(50% - 12px);
	}
	.col-md-7 {
		width: calc(58.33% - 12px);
	}
	.col-md-8 {
		width: calc(66.66% - 12px);
	}
	.col-md-9 {
		width: calc(75% - 12px);
	}
	.col-md-10 {
		width: calc(88.33% - 12px);
	}
	.col-md-11 {
		width: calc(91.66% - 12px);
	}
	.col-md-12 {
		width: calc(100% - 12px);
	}
}

/*  Mobile devices only  */
@media (max-width: 767px) {

	.col-sm-1 {
		width: calc(8.33% - 12px);
	}
	.col-sm-2 {
		width: calc(16.66% - 12px);
	}
	.col-sm-3 {
		width: calc(25% - 12px);
	}
	.col-sm-4 {
		width: calc(33.33% - 12px);
	}
	.col-sm-5 {
		width: calc(41.66% - 12px);
	}
	.col-sm-6 {
		width: calc(50% - 12px);
	}
	.col-sm-7 {
		width: calc(58.33% - 12px);
	}
	.col-sm-8 {
		width: calc(66.66% - 12px);
	}
	.col-sm-9 {
		width: calc(75% - 12px);
	}
	.col-sm-10 {
		width: calc(88.33% - 12px);
	}
	.col-sm-11 {
		width: calc(91.66% - 12px);
	}
	.col-sm-12 {
		width: calc(100% - 12px);
	}
}